/*
 * DepositDuck palette
 */

$britannia: #12273f;

$churchill: #3cd7d9;
$austen: #ff7300;
$turner: #ae86ff; // accessible value, original was #9E71FE
$gold: #d5af36;
$stone: #c4c9ce;
$light: #e7e9ec;

$green: #a5d700;
$pink: #ff50c8;
$skyblue: #5497ff;
$yellow: #ffe100;
$peach: #ff9173;
$red: #fe015b;
