// https://getbootstrap.com/docs/5.3/customize/sass/

@import "./depositduck-colors.scss";

$primary: $turner;
$secondary: $britannia;
$success: $green;
$info: $churchill;
$warning: $austen;
$danger: $red;
$light: $light;
$dark: #000000;

$bootstrap-blue: #0d6efd;
$link-color: $bootstrap-blue;

@import "../node_modules/bootstrap/scss/bootstrap";

/** https://fonts.google.com/Protest+Strike */
.font-protest-strike {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}
